body {
  display: flex;
  padding: 30px;
  overflow-x: hidden;
  background-color: var(--Rose-100);
}
main {
  > h1 {
    margin-bottom: 20px;
  }
  > section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-gap: 10px;
  }
}
aside {
  margin: 20px;
  background-color: var(--Rose-50);
  width: 400px;
  height: max-content;
  border-radius: 10px;
  h1 {
    padding-bottom: 10px;
    color: var(--Red);
  }
  > div {
    padding: 15px 10px;
    width: 100%;
    height: max-content;
    &.hidden {
      display: none !important;
    }
    &.empty {
      display: flex;
      flex-direction: column;
      h1 {
        color: var(--Red);
      }
      img,
      p {
        margin-inline: auto;
        color: var(--Rose-300);
      }
    }
    .total {
      width: 100%;
      padding-inline: 10px;
      margin-block: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        &:first-child {
          font-size: 14px;
          color: var(--Rose-500);
        }
        &:last-child {
          font-size: x-large;
        }
      }
    }
    .footer {
      background-color: var(--Rose-100);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      height: 40px;
      align-items: center;
      img {
        margin-right: 10px;
      }
    }
    .confirm-button {
      width: 100%;
      border: none;
      outline: none;
      height: 40px;
      border-radius: 40px;
      margin-top: 10px;
      background-color: var(--Red);
      color: var(--Rose-100);
      font-size: 17px;
      cursor: pointer;
    }
    &.not-empty section {
      border-bottom: 1px solid var(--Rose-100);
      display: flex;
      margin-top: 10px;
      > div {
        p {
          margin-bottom: 10px;
          font-size: 14px;
          &:last-child {
            span {
              &:nth-child(1) {
                color: var(--Red);
              }
              &:nth-child(2) {
                color: var(--Rose-30);
                margin-inline: 20px 10px;
              }
              &:nth-child(3) {
                color: var(--Rose-400);
              }
            }
          }
        }
        &:last-child {
          margin: auto 0 auto auto;
          img {
            cursor: pointer;
            width: 25px;
            height: 25px;
            padding: 5px;
            border: 1px solid var(--Rose-300);
            border-radius: 50%;
          }
        }
      }
    }
  }
}
